* { margin: 0; padding: 0; box-sizing: border-box; }

body { margin-top: 100px; }

#carousel { width: 400px; height: 300px; border: solid 2px black; margin: 0 auto; position: relative; }

.wrapper { overflow: hidden; }

.photo { width: 2000px; display: -ms-flexbox; display: flex; }

.photo li { width: 400px; height: 300px; list-style-type: none; }

.photo img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.dot-bottom { position: absolute; }

.pagination { position: absolute; bottom: 3%; left: 50%; transform: translate(-50%); display: -ms-flexbox; display: flex; }

.pagination li { padding: 10px; width: 20px; height: 20px; border-radius: 100%; margin: 0 5px 0 5px; border: 1px solid black; cursor: pointer; background: transparent; list-style-type: none; background-color: white; }

.pagination .active { background-color: rgba(0, 0, 0, 0.5); }

#btn-prev { background: none; border: none; padding: 15px; cursor: pointer; position: absolute; top: 50%; border-right: 2px solid black; border-top: 2px solid black; left: -10%; transform: rotate(225deg); }

#btn-next { background: none; border: none; padding: 15px; cursor: pointer; position: absolute; top: 50%; border-right: 2px solid black; border-top: 2px solid black; right: -10%; transform: rotate(45deg); }
